s/* main colors  */
.bg-dark {
	background-color: #28293E;
}
.bg-light {
	background-color: #FDF0E9;
}
/* grid */
.col-5 {
	width: 200%;
	display: inline-block;
}
.col-3 {
	width: 33.33%;
}
.main-menu{
	/*width: 100px;
      height: 100px;*/
      color: red;
      transition: width 2s, height 2s,color 1s;
}
.main-menu:hover {
	/*width: 200px;
      height: 200px;*/
      color: blue;
}